@import url('normalize.css');

html { height: 100%; }

body { background: #bbb url('../images/bg.png') repeat top left; color: #444; font: 13px/1.5 "Lucida Grande", Helvetica, Arial, sans-serif; height: 100%; }

h2 { font-size: 20px; margin: 12px 0; }

p { padding: 0 0 1em 0; margin: 0; }

#wrapper { position: relative; min-height: 100%; }

* html #wrapper { height: 100%; }

#content { padding-bottom: 60px; }

#masthead { height: 100px; background-color: #999; padding: 0 35px; }

#header { position: relative; min-width: 970px; height: 100px; margin: 0 auto; }
#header h1 { letter-spacing: 2px; color: #efefef; font-size: 24px; font-weight: normal; position: absolute; top: 15px; text-shadow: 1px 1px 2px rgba(0,0,0,0.7); margin: 0; }
#header h1:hover { color: #fff; cursor: default; }

#status {
  background-color: #ddd;
  font-size: 11px;
  padding: 2px 12px 4px;
  position: absolute;
  right: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 #f4f4f4;
}

#status a { color: #c00; }

#nav {
  background-color: #444;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  margin: 0 auto;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  -moz-border-radius-topright:4px;
  -moz-border-radius-topleft:4px;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
}

#leftnav, #rightnav { position: absolute; margin: 0; padding: 0; }
#leftnav { left: 0; }
#rightnav { right: 0; }
#leftnav li, #rightnav li { display: inline; float: left; }
#leftnav li a, #rightnav li a {
  color: #eee;
  line-height: 32px;
  padding: 0 9px;
  display: block;
  text-decoration: none;
}
#leftnav li a:hover, #rightnav li a:hover { text-decoration: underline; }
#leftnav li.active a, #rightnav li.active a {
  background-color: #fff;
  color: #444;
  cursor: default;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  -moz-border-radius-topright:4px;
  -moz-border-radius-topleft:4px;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
}
#leftnav li.active a:hover, #rightnav li.active a:hover { text-decoration: none; }

#main-wrapper { background-color: transparent; margin: 0 auto; min-width: 970px; padding: 0 35px; }

#main {
  background-color: #fff;
  padding: 2px 12px 12px 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

#subnav { margin: 12px 0; padding: 0 0 5px 0; border-bottom: 1px dotted #ccc; }
#subnav li { display: inline; padding: 2px 12px 2px 0; }
#subnav li a { color: #444; font-size: 12px; text-decoration: none; padding: 3px 4px; }
#subnav li.active a, #subnav li a:hover { background-color: #444; color: #fff; border-radius: 4px; }
#subnav li a {
  transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  -ms-transition: background-color 0.2s ease 0s;
}

.button {
  border:1px solid #bbb;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  background: -moz-linear-gradient(100% 100% 90deg, #d5d5d5, #f4f4f4);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
  background: -webkit-linear-gradient(#f4f4f4, #d5d5d5);
  background: -o-linear-gradient(#f4f4f4, #d5d5d5);
  color:#555;
  font-size:12px;
  font-weight:bold;
  padding:4px 10px;
  margin:15px 0 0 0;
  text-shadow:0 1px 0 #fff;
  cursor:pointer;
  box-shadow:0 1px 2px #ccc;
  -moz-box-shadow:0 1px 2px #ccc;
  -webkit-box-shadow:0 1px 2px #ccc;
  transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
}

.button:active, .button:hover { color: #008ce5; }

.button:active {
  box-shadow:inset 0 1px 2px #ccc;
  -moz-box-shadow:inset 0 1px 2px #ccc;
  -webkit-box-shadow:inset 0 1px 2px #ccc;
}

#footer { background-color: transparent; height: 35px; margin-top: -35px; position: relative; }
#footer p { color: #666; font-size: 12px; padding: 4px 0 0 0; text-align: center; text-shadow: 0 1px 0 #fff; }
